# Developer tools' files
.lite_workspace.lua
.idea
.gitignore
.gitattributes

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
.tmp
*.log

resources.neu
main
*.xojo_xml_project
__pycache__
/extensions/python/_interpreter
/Builds\ -\ NeutralinoEngine
.DS_Store
_app_scaffolds
build-mac.sh
postproc-mac.sh
/node_modules/.bin
/node_modules
/temp
package.json
package-lock.json
